body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header ul a {
  text-decoration: none;
  color: rebeccapurple;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 80px;
  gap: 50px;
  font-size: 25px;
}

.header .left,
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo img {
  height: 70px;
  justify-content: center;
  align-items: center;
}

.FirstSection {
  display: flex;
}