body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.header {
    background: rgb(16, 12, 240);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header ul a {
    text-decoration: none;
    color: rgb(157, 253, 197);
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 80px;
    gap: 50px;
    font-size: 25px;
}

.header .left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header button {
    border: none;
    border-radius: 8px;
    background: rgb(4, 255, 108);
    color: white;
    padding: 8px 24px;
}

.logo img {
    height: 70px;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 40px;
    margin-left: 150px;
    display: inline-grid;
    grid-template: 85px 85px 85px 85px 85px / 85px 85px 85px 85px 85px;
    background-color: aqua;
}
.room{
    font-size: 20px;
    border: 1px solid blue;
    text-align: center;
}
#living{
    grid-area: 1/1/3/6;
}
#kitchen{
    grid-area: 3/1/5/2;
}
#wash{
    grid-area: 5/1/6/2;
}
#bedroom{
    grid-area: 3/2/6/4;
}
#bathroom{
    grid-area: 3/4/5/6;
}
#closet{
    grid-area: 5/4/6/6;
}