.header {
    background: rgb(81, 81, 116);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header ul a {
    text-decoration: none;
    color: rgb(216, 235, 224);
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 80px;
    gap: 50px;
    font-size: 25px;
}

.header .left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header button {
    border: none;
    border-radius: 8px;
    background: rgb(4, 255, 108);
    color: white;
    padding: 8px 24px;
}

.profile-image {
    background: rgb(4, 255, 108);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.logo img {
    height: 70px;
    justify-content: center;
    align-items: center;
}